body {
  font-family: "Poppins", sans-serif;
}

//Navbar
.navbar-brand {
  max-height: 28px;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #304659;
    }

    &:active {
      font-weight: bold;
      color: #304659 !important;
    }
  }
}

.btn-contact {
  background-color: #f49f0a;
  color: white;
  font-weight: 600;
  font-size: 16px;

  &:hover {
    color: #fabb4d;
  }
}

.section-hero {
  top: 20px;

  h2 {
    margin-top: 150px;
    font-weight: bold;
    font-size: 48px;

    span {
      color: #f49f0a;
    }
  }

  p {
    font-size: 24px;
  }

  .input-group {
    width: 340px !important;
    // background-color: #f49f0a !important;
    .form-search {
      //   border-radius: 5px !important;
      background-color: #e9ecef;
      color: #9fb2c2;
      border-radius: 0px 5px 5px 0px;
    }
    .btn-search {
      border-radius: 5px;
      background-color: #f49f0a;
      color: white;
    }
  }

  .illustration {
    position: absolute;
    right: 0;
    top: -50px;
    width: 632px;
    height: 632px;
  }
}

.section-start {
  margin-top: 150px;
  .stats-detail {
    padding-top: 18px;
    background-color: #fef5e7;
    padding-left: 40px;
    color: #f49f0a;
  }
}

.section-apartment {
  margin-top: 90px;

  .img-apartment {
    width: 277px;
    height: 290px;
  }
  .apartment-desc {
    p {
      font-weight: bold;
    }
  }
  .btn-details {
    background-color: #f49f0a;
    color: white;
    font-weight: 600;
    font-size: 16px;

    &:hover {
      background-color: #fabb4d;
    }
  }
}
